server.port: 8000
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Eureka 기반 라우팅
          lower-case-service-id: true
eureka:
  instance:
    prefer-ip-address: true   # 호스트명 대신 IP로 등록
    hostname: localhost
    metadata-map:
      prometheus.scrape: true # 수집 대상
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://10.0.0.107:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true