version: '3.8'

services:
  app:
    image: quay.io/bread0930/coachcoach:latest
    container_name: app
    env_file:
      - common.env
    environment:
      SPRING_PROFILES_ACTIVE: prod
      TZ: Asia/Seoul

    ports:
      - "8080:8080"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - coachcoach-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - coachcoach-network


networks:
  coachcoach-network:
    driver: bridge