server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    context-path: /
  shutdown: graceful              # 실행 중인 모은 요청을 수행한 후 종료
  error:
    include-message: always       # 에러 메시지 항상 포함
    include-binding-errors: always  # Validation 에러 항상 포함
    include-stacktrace: on_param
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
spring:
  application:
    name: app
  jackson:
    serialization:
      write-dates-as-timestamps: false  # ISO-8601 형식 사용
    time-zone: Asia/Seoul
    default-property-inclusion: non_null  # null 필드 제외

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    com.coachcoach: INFO  # 프로젝트 로그 레벨
#    org.hibernate: DEBUG
    org.hibernate.SQL: DEBUG  # SQL 로그
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # 바인딩 파라미터
    org.springframework.web: INFO
    org.springframework.cloud: INFO
#    org.springframework.orm.jpa: DEBUG
#    com.zaxxer.hikari.HikariConfig: DEBUG
#    com.zaxxer.hikari.HikariDataSource: DEBUG
    org.springframework.web.servlet.resource: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    disable-swagger-default-url: true

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 86400000       # 1day
  refresh-token-expiration: 1814400000    # 3weeks