name: CI/CD Pipeline
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Check Docker
        run: docker version

      - name: Grant execute permission for gradlew
        run: chmod +x coachcoach/gradlew

      # 전체 빌드
      - name: Build all modules
        working-directory: coachcoach
        run: ./gradlew clean build -x test

      - name: Login to Quay
        run: echo "${{ secrets.QUAY_TOKEN }}" | docker login quay.io -u bread0930 --password-stdin

      # 서비스별 도커 이미지 빌드 & 푸시
      - name: Build & Push images
        working-directory: coachcoach
        shell: bash
        run: |
          set -e

          declare -A SERVICES=(
            [gateway]="infra/gateway"
            [eureka]="infra/eureka"
            [auth]="service/auth"
            [user-store]="service/user-store"
            [catalog]="service/catalog"
            [insight]="service/insight"
          )

          for NAME in "${!SERVICES[@]}"; do
            SERVICE_PATH="${SERVICES[$NAME]}"

            echo "▶ Building $NAME"

            docker build \
              -f ${SERVICE_PATH}/Dockerfile \
              -t quay.io/bread0930/chord-server-${NAME}:latest \
              .
            # docker tag quay.io/bread0930/chord-server-${NAME}:latest \
            #            quay.io/bread0930/chord-server-${NAME}:${{ github.sha }}
            # docker push quay.io/bread0930/chord-server-${NAME}:${{ github.sha }}
            docker push quay.io/bread0930/chord-server-${NAME}:latest
          done
          
  deploy-1:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to public EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PUBLIC_EC2_1_HOST }}
          username: ubuntu
          key: ${{ secrets.PUBLIC_EC2_1_SSH_KEY }}
          script: |
            docker-compose -f /home/ubuntu/compose/public1-compose.yml pull
            docker-compose -f /home/ubuntu/compose/public1-compose.yml up -d

  deploy-2:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to private EC2 - 1 (User-store, Auth)
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PRIVATE_EC2_1_HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_EC2_1_SSH_KEY }}
          proxy_host: ${{ secrets.PUBLIC_EC2_1_HOST }}
          proxy_username: ubuntu
          proxy_key: ${{ secrets.PUBLIC_EC2_1_SSH_KEY }}
          script: |
            docker-compose -f /home/ubuntu/compose/private1-compose.yml pull
            docker-compose -f /home/ubuntu/compose/private1-compose.yml up -d

  deploy-3:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to private EC2 - 2 (Catalog, Insight)
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PRIVATE_EC2_2_HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_EC2_2_SSH_KEY }}
          proxy_host: ${{ secrets.PUBLIC_EC2_1_HOST }}
          proxy_username: ubuntu
          proxy_key: ${{ secrets.PUBLIC_EC2_1_SSH_KEY }}
          script: |
            docker-compose -f /home/ubuntu/compose/private2-compose.yml pull
            docker-compose -f /home/ubuntu/compose/private2-compose.yml up -d
