name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: gateway
            path: ./coach/coach/infra/gateway
          - name: eureka
            path: ./coach/coach/infra/eureka
          - name: auth
            path: ./coach/service/auth
          - name: user-store
            path: ./coach/service/user-store
          - name: catalog
            path: ./coach/service/catalog
          - name: insight
            path: ./coach/service/insight
    steps:
      - uses: actions/checkout@v3
      - run: echo "${{ secrets.QUAY_TOKEN }}" | docker login quay.io -u bread0930 --password-stdin
      - run: |
          docker build -t quay.io/bread0930/chord-server-${{ matrix.name }}:${{ github.sha }} ${{ matrix.path }}
          docker tag quay.io/bread0930/chord-server-${{ matrix.name }}:${{ github.sha }} quay.io/bread0930/chord-server-${{ matrix.name }}:latest
          docker push quay.io/bread0930/chord-server-${{ matrix.name }}:${{ github.sha }}
          docker push quay.io/bread0930/chord-server-${{ matrix.name }}:latest

  deploy-1:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to public EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PUBLIC_EC2_1_HOST }}
          username: ubuntu
          key: ${{ secrets.PUBLIC_EC2_1_SSH_KEY }}
          script: |
            docker-compose -f /home/ubuntu/public1-compose.yml pull
            docker-compose -f /home/ubuntu/public1-compose.yml up -d

  deploy-2:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to private EC2 - 1 (User-store, Auth)
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PRIVATE_EC2_1_HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_EC2_1_SSH_KEY }}
          proxy_host: ${{ secrets.PUBLIC_EC2_1_HOST }}
          proxy_username: ubuntu
          proxy_key: ${{ secrets.PUBLIC_EC2_1_SSH_KEY }}
          script: |
            docker-compose -f /home/ubuntu/private1-compose.yml pull
            docker-compose -f /home/ubuntu/private1-compose.yml up -d
  deploy-3:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to private EC2 - 2 (Catalog, Insight)
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.PRIVATE_EC2_2_HOST }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_EC2_2_SSH_KEY }}
          proxy_host: ${{ secrets.PUBLIC_EC2_1_HOST }}
          proxy_username: ubuntu
          proxy_key: ${{ secrets.PUBLIC_EC2_1_SSH_KEY }}
          script: |
            docker-compose -f /home/ubuntu/private2-compose.yml pull
            docker-compose -f /home/ubuntu/private2-compose.yml up -d
